*, *:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
    background: #F5F5F5;  
margin:0;
}

body.mobile-nav-open{
  overflow: hidden;

}

img{
    max-width: 100%;
    height: auto;
    display: block;
}
header{
    display: flex;
    /* background-color: yellow; */
    justify-content: space-between;
    align-items: center;
    padding-left: 76px;
    padding-right: 76px;
    padding-bottom: 36px;
    padding-top: 36px;
    @media (max-width: 767px) {
      height: 50px;
    }

}

/* HAMBURGER BUTTON  */
button.menu-btn{
  border: none;

 
  @media (max-width: 767px) {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: absolute;
  
  background-color:#F5F5F5;
 
  left: 25px;
  top: 25px;
    }

    @media (max-width: 479px) {
      left: 0px;
    }

}

.menu-btn .line {
  @media (max-width: 767px) {
  background: black;
  width: 30px;
  height: 3px;
  border-radius: 2px;
}
}

/* close btn */

.close-btn{
  @media (max-width: 767px) {
    background-color: black;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    color: white;
    font-weight: bold;
    border: none ;
    cursor: pointer;
  }
  @media (min-width: 768px) {
 display: none;
  
}}
.close-btn i{
  font-size: 32px;
}

/* FINE HAMBURGER BUTTON  */
main.container{
  background-color: #f6f6f6;

  background-size: 4px 4px;
  background-image: repeating-linear-gradient(45deg, #e6dede 0, #f6f0f0 0.4px, #f6f6f6 0, #f6f6f6 50%);
  
    width: 100%;
    padding: 8px;
   
    margin: auto;
    /* background:green;   */
}

@media (min-width: 480px) {
    main.container{
        /* background: red;   */
        width: 100%;    
        padding: 30px;
    }
} 
@media (min-width: 768px) {
    main.container{
        /* background: yellow;   */
        width: 760px;    
    }
}

@media (min-width: 1280px) {
    main.container{
        /* background: pink;   */
        width: 1024px;
    }
}

@media (min-width: 1440px) {
    main.container{
        /* background: purple;   */
        width: 1284px;
   
    }
}






nav{
  height: 110px;
    
}
.logo-description {
    /* /* display: flex;
    flex-direction: row;
    align-items: left; */
    /* display: inline-block; */ 
    padding-bottom: 36px;
}

 .logo-description img{
  height: 75px;
  width: 75px;
  border-radius:50%;
  border: black solid 1px;
    /* height: 28px;
    width: 48px; */
    @media (max-width: 767px) {
      position: absolute;
      right: 40%;
      height: 60px;
      width: 60px;
      top: 5px;
    }
  

    }
    /* .mobile-menu{
      position: relative;
    } */
  ul.nav-link{

@media (max-width: 767px) {
  
    background-color: #474747;
    height: 100%;
     margin-top: 0;
     position: absolute;
     left: 0px;
    top: 0px;
    z-index: 9999;
    width:0px;
    overflow: hidden;
    padding-left: 0px;
    transition: width 0.4s ease-in-out;
    
  }

        @media (min-width: 480px) {
       
        }
        @media (min-width: 768px) {
            display: flex;
            gap: 20px;
           
        
          }
          @media (min-width: 1280px) {
           
             
             
       
          }

    }
    body.mobile-nav-open ul.nav-link{
      width: 50%;
      padding: 8px;
    }
   

    .nav-link li {
    list-style: none;
    @media (max-width: 767px) {
    padding: 12px 0px ;
    
    border-bottom:1px solid #333333;
    border-top: 1px solid #575656;
      }
       
      }
      .nav-link li:first-child{
        border-top: none;

      }
      .nav-link li:last-child{
        border-bottom: none;
        border-top: none;
      }
    .nav-link li a{
        
      text-decoration: none;
      font-size: 25px;
      color: black;


      @media (max-width: 767px) {
    
     color: white;
       
      }



    }
    .hero{
        position: relative;
        margin: auto;
   
    
   @media (min-width: 501px) {
      
  }
  @media (min-width: 768px) {
     
 
    width: 100%;
    min-height: 565px;
    }
    @media (min-width: 1280px) {
      
    }
    
    

    }
    .hero-description{
       position: relative;
        z-index: 2;
        /* height: 600px; */
        /* width: 773px; */
       width: 100%;
       height: auto;

       /* border: 1px solid blue; */
       
       /* Puoi mettere la media query dentro se eviti il selettore (.hero-description)*/
       @media (min-width: 768px) {
        width: 100%;
        height: auto;
        /* border: 1px solid blue;    */
       }
       @media (min-width: 1280px) {
        width: 60%;
        padding-top: 25px;
      }

      
    }

    /* Altrimenti DOPO/FUORI dal selettore devi metterlo (.hero-description) 
    dentro la media query per specificare di che parli. */
    
    /* @media (min-width: 768px) {
        .hero-description{
        width: 60%;
       height: auto;
       border: 1px solid blue;   
        }
    } */

    .hero-description h1{
        /* padding-top: 62px; */
        /* font-size: 70px; */
        font-weight: 100;
        font-size: 24px;
        margin: 0;
        margin-bottom: 16px;
       
  


        @media (min-width: 501px) {
          font-size: 24px;   
        }
        @media (min-width: 768px) {
            font-size: 48px; 
              
          }
          @media (min-width: 1280px) {
            font-size: 60px;  
            background: rgba(255,255,255,0.6); 
            /* padding-top: 82px; */
          }
    }

   
    
    .hero-image {
  
   
     
      @media (min-width: 1280px) {
      
        position: absolute;
        top: 0px;
        right: 0px;
      }
      
        /* border: 1px solid rgb(53, 222, 19); */
    } 
    .hero-image img{
       
        /* background-image: url(foto.jpeg); */
   



       @media (min-width: 501px) {

        
      }
      @media (min-width: 768px) {
       
      
        }
        @media (min-width: 1280px) {
           
            height: 564px;
            width: 606px;  
     
        }



       
    }
   
    .section-project{
      
        @media (min-width: 501px) {
       
        }
        @media (min-width: 768px) {
            margin-top: 32px;
        
          }
          @media (min-width: 1280px) {
            margin-top: 50px;
             
             
       
          }
    }
    .project-list{}
    .project-list h1{
        font-size: 24px;
        color: black;
        font-weight: 300;
        margin-bottom: 10px;

        @media (min-width: 501px) {
       
        }
        @media (min-width: 768px) {
            font-size: 32px;
        
          }
          @media (min-width: 1280px) {
              
            font-size: 48px;
             
       
          }
    }
    .project-list hr{
        color: black;
        size: "2";
    }
    .project-example img{
        min-width: 100%;
        height: auto;
      
        padding: 0 5px;
        /* max-height: 360px; */
        /* max-height: 150px; */
    }


    .project-example{
        display: grid;
        grid-template-columns: 370px 370px 370px;
    }

    .project-example h2{
        font-size: 18px;
        font-weight: 100;

        @media (min-width: 501px) {
            font-size:21px;
       
        }
        @media (min-width: 768px) {
            font-size: 24px;
        
          }
          @media (min-width: 1280px) {
              
             
             
       
          }
    }
    .continue-btn img{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        
    }

    /* Slick css overwrite */
    .slick-slider .slick-slide h2 a {
      text-decoration: none;
      color:#474747 ;
    }
 .slick-slider .slick-arrow {
    /* border-radius: 50%;
   
    border: 1px solid black; */
    z-index: 9999;
    position: absolute; 


 }

 .slick-slider .slick-arrow:before{
  display: none;
  /* color: black;
  font-size: 32px; */

 }

 .slick-slider .slick-arrow.slick-next {

  top: 50%;
  right: -5px;
 }

 .slick-slider .slick-arrow.slick-prev{
  
  top: 50%;
  left: -20px;
 }

 .slick-slider .slick-arrow i {
  font-size: 32px;
  color: black;
 }


 /*   ABOUT ME  start  ACCORDION */
 .-section-aboutme {
    
    @media (min-width: 501px) {
       
    }
    @media (min-width: 768px) {
        margin-top: 32px;
    
      }
      @media (min-width: 1280px) {
        margin-top: 50px;
         
         
   
      }
 }

 .aboutme-wrapper{
    display: grid;
 /* grid-template-columns:535px 642px; */
 /* grid-template-columns:40% 50%; */
   /* padding-top: 60px;
   margin-right: none;
   margin-bottom: 50px;
   grid-template-columns: 1fr;  */
  


   @media (min-width: 480px) {
         
   }
   @media (min-width: 768px) {
    grid-template-columns: 50% 50%; 
   
     }
     @media (min-width: 1280px) {
        
     
        margin-right: none;
        margin-bottom: 50px;
        /* grid-template-columns: 1fr;  */
  
     }

 }

 .aboutme-title h1{

 font-size: 24px;
    color: black;
    font-weight: 300;
    margin-bottom: 10px;

   
    @media (min-width: 501px) {
       
    }
    @media (min-width: 768px) {
        font-size: 32px;
    
      }
      @media (min-width: 1280px) {
          
        font-size: 48px;
         
   
      }


 }
 .aboutme-description{
    /* width: 535px; */
    width: 100%;
  
    
    @media (min-width: 480px) {
       
    }
    @media (min-width: 768px) {
        /* width: 40%;
    
     */
     width: 100%;
      }
      @media (min-width: 1280px) {
       
         
         
   
      }
   
 }


 .aboutme-description p{
   
    padding: 1px;
    width: 100%;
    max-width: 600px;
    

    @media (min-width: 480px) {
        font-size: 1rem;
        
      
    }
    @media (min-width: 768px) {
        font-size: 16px;
        padding-right: 16px;
        line-height: 1.6rem;
       
    
      }
      @media (min-width: 1280px) {
         
        font-size: 18px;
        max-width: 100%;
        padding-right: 16px;
         
   
      }


 }

 .aboutme-accordion{
    width: 100%;
    /* border: solid 1px red; */
    /* padding-left: 105px; */

    @media (min-width: 480px) {
      
        padding-left: 5px;
      
    }
    @media (min-width: 768px) {
        width: 100%;
       
       
    
      }
      @media (min-width: 1280px) {
         /* width: 74%;
        padding-left: 105px; */
         
   
      }
 }


 .aboutme-accordion{}
 .aboutme-accordion h4{
    font-style: oblique;
    font-size: 18px;
    font-weight:bold;
    margin-bottom: 0px;
   
}

 .title-accordion{
    /* margin-bottom: none; */
    cursor: pointer;
 }
 .description-accordion{
   display: none;
 }
 .description-accordion.active{
    display: block;

}
.description-accordion p {
    line-height: 20px;
    padding-left: 18px;
    font-style: italic;
    font-size: 14px;
    /* padding-right: auto; */
}
.title-accordion .icon-circle{
    border: 2px solid black;
   display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    margin-right: 12px;
    font-size: 20px;
}

 /*    End  ACCORDION */
 /* ABOUT ME */

 .-section-sayhello{
  
    @media (min-width: 501px) {
       
    }
    @media (min-width: 768px) {
        margin-top: 32px;
    
      }
      @media (min-width: 1280px) {
        margin-top: 50px;
         
         
   
      }

 }
.sayhello-wrapper{
    width: 100%;
    grid-template-columns: 50% 50%;
  
    /* grid-template-columns: 530px 530px; */



    @media (min-width: 480px) {
      
    }
    @media (min-width: 768px) {
       
    margin-bottom: 50px;
    display: grid;
    
      }
      @media (min-width: 1280px) {
    
       
   
      }
}

.sayhello-title h1{
    font-size: 24px;
    color: black;
    font-weight: 300;
    margin-bottom: 10px;

    @media (min-width: 501px) {
       
    }
    @media (min-width: 768px) {
        font-size: 32px;
    
      }
      @media (min-width: 1280px) {
          
        font-size: 48px;
         
   
      }
}
.sayhello-description{

width: 100%;

  @media (min-width: 480px) {
       
  }
  @media (min-width: 768px) {
    
  
    }
    @media (min-width: 1280px) {
/*      
        width: 530px; */
       
 
    }
}
.sayhello-description p{
    font-weight: bold;
  /* border: 1px solid black; */
  font-size: 17px;
  line-height: 22px;
  font-style: oblique;
 
   
  }
.form-container{
   
width: 100%;
/* border: 1px solid black;  */

@media (min-width: 480px) {
       
}
@media (min-width: 768px) {
  

  }
  @media (min-width: 1280px) {
   
    /* width: 530px; */
    /* padding-left: 160px; */
    /* margin-left: 170px; */
     

  }

}

/* SAY HELLO PART  FORM */

.name-surname{
    margin-right: 0px;
    display: flex;
    flex-direction: column;
}
form{
   
}
.email-adress{
  text-decoration: none;
  color: black;
}

textarea{
   width: 100%;
    height: 140px;
    @media (min-width: 480px) {
       
    }
    @media (min-width: 768px) {
        width: 100%;
    
      }
      @media (min-width: 1280px) {
       
         
         
   
      }

   
    
}
* #name{
    /* margin-right: 61px; */
}


#surname{
   /* margin-left: 161px; */
}
.surname-form{
    /* display: inline-block; */
}
#messaggio{
    font-style: italic;
    color: gray;
}
label{
    display: block;
  font-weight: bold;
  font-style: italic;
  font-size: small;
  margin-bottom: 5px;

  @media (min-width: 480px) {
       
  }
  @media (min-width: 768px) {
    margin-top: 10px;
  
    }
    @media (min-width: 1280px) {
     
       
       
 
    }

   
}
#inquiry{
    /* width: 220px;   */
    /* margin-right: 61px; */
}
#email{
    /* width: 220px;   */
    /* margin-left: 161px; */
   
}
.email-label{
    /* margin-left: 161px; */
}
.surname-lable {
    /* display: flex;
    flex-direction: column; */
}
 /* input {
width:50%; } */



.inquiry-form,
.email-form{
 
 
   
   @media (min-width: 501px) {
     
   
   }
   @media (min-width: 768px) {
    display: inline-block;
    width: 49%;
   
     }
     @media (min-width: 1280px) {
      
        
        
  
     }


}


input{
  @media (max-width: 421px) {
    margin: 2px;

  }
    width: 100%;
    height: 33px;
    font-style: italic;
    

    /* @media (max-width: 500px) {
        margin-bottom: 16px;
    } */
    @media (min-width: 501px) {
        margin-bottom: 0px;
        margin-bottom: 16px;
        
    }
    @media (min-width: 768px) {
       
        width: 100%;
       
      }
      @media (min-width: 1280px) {
       
         
         
   
      }
  
}

.surname-form input{

    @media (min-width: 501px) {
       
        
    }
    @media (min-width: 768px) {
       width: 49%;
      
       
      }
      @media (min-width: 1280px) {
       
         
         
   
      }

}
.submit-input{
    color: 4E4E4E;
    font-weight: bold;
  font-style: italic;
  font-size: small;
  width: 90px;
  margin-top: 10px;
 border: 1px black solid;
 margin-bottom: 0px;
}


/*  NEWSLETTER */
.zigzag-divider{
    display: block;
    width: 100%;
    height: 15px;
    margin-bottom: 30px;
    background-image: url('./zigzag.jpeg');
    background-size: 16px;
  

}
.section-newsletter{
  padding-bottom: 70px;
}
.container-newsletter{
    width: 500px;
    border: 1px solid black;
    margin: auto;
   
}
.container-newsletter h1{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    font-style: italic;
}
.container-newsletter p{

    font-weight: bold;
    font-size: 19px;
    font-style: italic;
    text-align: center;
}
.container-newsletter button{
    background-color: darkgray;
    width: 90px;
    height: 47px;
    padding-top: 9px;
}
.container-newsletter form input  {
    font-style: italic;
    color: gray;
    font-size: 22px;
    font-weight: bold;
    padding: 5px ;
    border-color: black;
    padding-right: 170px;
    

}
.container-newsletter span{
    color: white;




}
/* NAVIGATION BOTTONE */
.scroll-top {
  
   font-size: 48px;
   color: black;
   
}
    
/*  THANK YOU PAGE DOPO MAIL */
.thank-you{
   
    font-size: xx-large;
    color: white;
   

}
.thank-you-page .container{

  margin-top: 60px;
}
.thank-you h1{
text-align: center;
color: #474747;
}
.home-link {
  text-decoration: none;
  color: black;
  display: block;
  margin: auto;
  width: 180px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid black;
  border-radius: 12px;
}
.home-link:hover{
  box-shadow: 0px 0px 16px #a09d9d;
}
/* SCROLL  */

.scroll-top {
   position: fixed;
  bottom:66px;
  right: 20px;
  @media (min-width:501px) {
       
  }
  @media (min-width: 768px) {
    bottom: 90px;
    right: 50px;
  
    }
    @media (min-width: 1280px) {
     
       
       
 
    }
   
}
/* FOOTER */
.section-footer{
    display: inline-block;
}
.copyright-testo {
    display: inline-block;
}
.section-footer img{

width: 30px;
height: 27px;
border-radius: 3px;
margin-top: 20px;
margin-bottom: -8px;

}    
.footer-logo img {
/* height: 28px;
width: 48px; */

@media (max-width: 421px) {
  height: 35px;
  width: 35px;

}

height: 50px;
width: 50px;
border-radius:50%;
border: black solid 1px;

margin-top: 10px;



}    

.footer-section{
    display: flex;
    justify-content: space-between;
  
    @media (min-width: 480px) {
       
    }
    @media (min-width: 768px) {
      
    
      }
      @media (min-width: 1280px) {
       
         
         
   
      }

}
   
.footer-navigator{
   
}
.footer-logo{
 display: inline-block;
   
}
.copyright-testo p{
  color: #333333;
}



@media (max-width: 421px) {}